//variables
//sizes
$padding-box:9em 4em 9em 4em;
$main-margin-left:30%;
//colors
$light-color:white;
$primary-background-color:#4AD8FF;
$secondary-background-color:#BC1AF0;
$third-background-color:#7F57FF;
$fourth-background-color:#4371E8;

//color text 
$primary-color-text: white;
$secondary-color-text:#4371E8;

//utilities
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}
body{
	color:$primary-color-text;
}
a{
	color:$primary-color-text;
	text-decoration: none;
}
ul{
	list-style:none
}
.intro{
	display: grid;
	background-image: url("img/abstract.jpg");	
}
header{
	grid-area: header;
	padding:$padding-box;
	background-color: $primary-background-color;

}
.summary{
    grid-area: summary;
	padding:$padding-box;
	background-color: $primary-background-color;

}
.preamble{
	grid-area: preamble;
	padding:$padding-box;
	background-color: $third-background-color;
}
.main{
	display: grid;
	background-image: url("img/face.jpg");	
}
.explanation{
	grid-area:explanation;
	min-height:678px;
	padding:$padding-box;
	color:$secondary-color-text;
	background-color:$light-color;	
}
.participation{
	grid-area:participation;
	min-height:534px;
	padding:$padding-box;
	background-color:$primary-background-color;	
}
.benefits{
	grid-area:benefits;
	min-height: 841px;
	padding: $padding-box;
	background-color:$light-color;
	color:$secondary-color-text;
}
.requirements{
	grid-area:requirements;
	background-color: $fourth-background-color;
	padding: $padding-box;
}
footer{
	grid-area: footer;
	min-height: 135px;
	background-color: $secondary-background-color;
}

//menu sidebar
.sidebar{
	position:absolute;
	width: 100%;
	display: grid;	
}
.wrapper{
}
.design-selection, .design-archives, .zen-resources{
}
.design-selection{
	background-color: $secondary-background-color;
}
.design-archives{
	background-color: $secondary-background-color;
}
.zen-resources{
	background-color: $secondary-background-color;	
}
@media screen and (min-width:1200px){

	.intro{
		grid-template-columns: 10% 65% 15% 10%;
		grid-template-rows: 250px 305px 405px;
		grid-template-areas: 
			". header . ."
			". summary . ."
			"preamble preamble . .";
		height: 915px;
	}
	header{

	}
	.summary{
		z-index:2;
	}
	.preamble{
		margin-top:-46px;
		z-index:1;
	}
	.main{
		grid-template-columns: 35% 65%;
		grid-template-rows: 530px 980px 176px;	
		grid-template-areas: 
			"explanation participation"
			"benefits requirements"
			"footer footer";
	}
	.explanation{
		margin-top:-28px;
		margin-left:$main-margin-left;
		min-width:410px;
		min-height:678px;
		z-index:1;	
	}
	.participation{
		grid-area:participation;
		max-width: 74.5%;
		min-height:534px;
		padding-right: 20%;
		padding-left: 20%;
	}
	.benefits{
		margin-top:189px;
		margin-left:$main-margin-left;
		min-width: 385px;
		min-height: 841px;
		z-index: 2;
	}
	.requirements{	
		max-width: 74.5%;
		padding-right: 20%;
		padding-left: 20%;
	}
	footer{
		margin-top:50px;
		min-height: 135px;
		padding: 3% 0 0 10%;
	}
	//menu sidebar
	.sidebar{
		position:absolute;
		top:0;
		width: 100%;
		grid-template-columns:70% 20% 10%;
	}
	.wrapper{
		grid-column-start: 2;
		z-index: 3;
	}
	.design-selection, .design-archives, .zen-resources{
		padding:10% 15% 0  15%;
		margin-bottom: 25px;
	}
	.design-selection{
		height: 529px;
	}
	.design-archives{
		height: 173px;
	}
	.zen-resources{
		height: 318px;	
	}
}
@media (min-width: 768px)  and (max-width:1199px){
	.main{
		grid-template-columns: 100%;
		grid-template-rows: 520px 1fr 520px 1fr 176px;	
		grid-template-areas: 
			"explanation"
			"participation"
			"benefits" 
			"requirements"
			"footer";

	}
	.explanation{
		width:90%;
		margin: auto;
	}
	.participation{
		width:90%;
		margin: auto;
	}
	.benefits{
		width:90%;
		margin: auto;
	}
	.requirements{
		width:90%;
		margin: auto;
	}
	footer{
		padding: 3% 0 0 10%;
	}
	.intro{
		grid-template-columns: 10% 65% 15% 10%;
		grid-template-rows: 250px 305px 405px;
		grid-template-areas: 
			". header . ."
			". summary . ."
			"preamble preamble . .";
		height: 915px;
	}
	.summary{
		z-index:2;
	}
	.preamble{
		margin-top:-46px;
		z-index:1;
	}
	//menu sidebar
	.sidebar{
		position:absolute;
		top:0;
		width: 100%;
		grid-template-columns:70% 20% 10%;
	}
	.wrapper{
		grid-column-start: 2;
		z-index: 3;
	}
	.design-selection, .design-archives, .zen-resources{
		padding:10% 15% 0  15%;
		margin-bottom: 25px;
	}
	.design-selection{
		height: 529px;
	}
	.design-archives{
		height: 173px;
	}
	.zen-resources{
		height: 318px;	
	}
}
@media screen and (max-width: 767px) {
	.main{
		grid-template-columns: 100%;
		grid-template-rows: 520px 1fr 520px 1fr 176px;	
		grid-template-areas: 
			"explanation"
			"participation"
			"benefits" 
			"requirements"
			"footer";

	}
	.explanation{
		width:90%;
		margin: auto;
	}
	.participation{
		width:90%;
		margin: auto;
	}
	.benefits{
		width:90%;
		margin: auto;
	}
	.requirements{
		width:90%;
		margin: auto;
	}
	footer{
		padding: 3% 0 0 10%;
	}
	.intro{
		grid-template-columns: 100%;
		grid-template-rows: 250px 305px 405px;
		grid-template-areas: 
			"header"
			"summary"
			"preamble";
	}
	header{
		width:90%;
		margin: auto;
	}
	.summary{
		width:90%;
		margin: auto;
	}
	.preamble{
		width:90%;
		margin: auto;
	}
	//menu sidebar
	.sidebar{
		display: grid;
		grid-template-columns:100%;
        grid-template-rows:50% 50%;
		grid-area: 
			"menu1"
			"menu2"
			"menu3"
	}
	.wrapper{
        max-height: 600px;
	}
	.design-selection, .design-archives, .zen-resources{
		padding:10% 15% 10% 15%;
	}
	.design-selection{
		grid-area: menu1;
	}
	.design-archives{
		grid-area: menu2;
	}
	.zen-resources{
		grid-area: menu3;
	}
}