*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: white; }

a {
  color: white;
  text-decoration: none; }

ul {
  list-style: none; }

.intro {
  display: grid;
  grid-template-columns: 10% 65% 15% 10%;
  grid-template-rows: 250px 305px 405px;
  grid-template-areas: ". header . ." ". summary . ." "preamble preamble . .";
  height: 915px;
  background-image: url("img/abstract.jpg"); }

header {
  grid-area: header;
  padding: 9em 4em 9em 4em;
  background-color: #4AD8FF; }

.summary {
  grid-area: summary;
  padding: 9em 4em 9em 4em;
  background-color: #4AD8FF;
  z-index: 2; }

.preamble {
  grid-area: preamble;
  position: relative;
  margin-top: -46px;
  padding: 9em 4em 9em 4em;
  background-color: #7F57FF;
  z-index: 1; }

.main {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 530px 980px 176px;
  grid-template-areas: "explanation participation" "benefits requirements" "footer footer";
  background-image: url("img/face.jpg"); }

.explanation {
  grid-area: explanation;
  margin-top: -28px;
  margin-left: 30%;
  min-width: 410px;
  min-height: 678px;
  padding: 9em 4em 9em 4em;
  z-index: 1;
  color: #4371E8;
  background-color: white; }

.participation {
  grid-area: participation;
  max-width: 74.5%;
  min-height: 534px;
  padding: 9em 4em 9em 4em;
  background-color: #4AD8FF; }

.benefits {
  margin-top: 189px;
  min-width: 385px;
  min-height: 841px;
  margin-left: 30%;
  padding: 9em 4em 9em 4em;
  z-index: 2;
  background-color: white;
  color: #4371E8; }

.requirements {
  max-width: 74.5%;
  background-color: #4371E8;
  padding: 9em 4em 9em 4em; }

footer {
  grid-area: footer;
  margin-top: 50px;
  min-height: 135px;
  background-color: #BC1AF0;
  padding: 3% 0 0 10%; }

.sidebar {
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 20% 10%; }

.wrapper {
  grid-column-start: 2;
  z-index: 3; }

.design-selection, .design-archives, .zen-resources {
  padding: 10% 15% 0  15%;
  margin-bottom: 25px; }

.design-selection {
  height: 529px;
  background-color: #BC1AF0; }

.design-archives {
  height: 173px;
  background-color: #BC1AF0; }

.zen-resources {
  height: 318px;
  background-color: #BC1AF0; }

@media screen and (max-width: 480px) {
  .main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 530px 530px 530px 176px;
    grid-template-areas: "explanation" "participation" "benefits"  "requirements" "footer"; } }
