// color palette - these colors will be the color swatches of the Colors section
$color-1: #4ad8ff; // Light Blue
$color-2: #4371E8; // Dark Blue
$color-3: #7f57ff; // purple
$color-4: #bc1af0; // other purple
$color-5: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // purple